*{
    margin: 0;
    padding: 0;

}
body{
    background: rgb(62, 43, 114);
    font-size: 70px;
    font-weight: bold;
    font-family: 'Source Code Pro';
    font-style:italic ;

}
.container{
    width: 85%;
    margin: 60px auto;
}
.contact-box{
    background: white;
    display: flex;
}
.contact-left{
    flex-basis: 60%;
    padding: 40px 60px;
}
.contact-right{
    flex-basis: 70%;
    padding: 100px;
    background-color: darkorange;
}
h1{
    margin-bottom: 30px;
}
.container p{
    margin-bottom: 70px;
}
.input-row{
    display:flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.input-row .input-group{
    flex-basis: 45%;
}
input{
    font-size: 50%;
    width:100%;
    border: none;
    border-bottom: 1px solid #ccc;
    outline: none;
    padding-bottom: 10px;
}
.textarea{
    width: 100%;
    border: 2px solid #ccc;
    outline: none;
    padding: 2px;
    box-sizing: border-box;
}
label{
    margin-bottom: 6px;
    display: block;
    color: #1c00b5;
}

tr rd:first-child{
    padding-right: 20px;
    padding-top: 30px;

}
